.fc-event-main {
    background-color: #FF8999; 
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc-event-main .fc-event-title {
    color: black;
}