.MuiPickersCalendarHeader-root {
  display: block;
  position: relative;
  width: inherit;
  margin: 0;
  padding: 0 !important;
  /* border: 1px solid blue; */
}

.MuiPickersCalendarHeader-labelContainer {
  top: 2px;
  margin: 0 10% 0 14%;
  position: absolute;
  width: 76%;
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
  /* flex-direction: row; */
  /* z-index: 10; */

}

.MuiPickersCalendarHeader-labelContainer .MuiButtonBase-root{
  margin: 0;
}

.MuiPickersArrowSwitcher-root {
  top: 0px;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.fc table tbody td tr td:first-of-type {
  color: #4b4b4b;
  font-size: 13px;
  font-weight: 400;
  border: none;
}

.fc table tbody td tr td:not(:first-of-type) {
  border-bottom: 1px solid #e8e8e8 !important;
  height: 19px; /* table cell height*/
}

.fc table thead tr th {
  font-size: 11px;
  font-weight: 400;
}

.fc table a.fc-col-header-cell-cushion {
  width: 100%;
  padding: 2px 0;
}

.fc-header-toolbar .fc-toolbar-chunk {
  display: none;
}