.username{
    position: fixed;
    width: 95px;
    height: 23px;
    left: 123px;
    top: 70px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;

    color: #000000;
}
.box {
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}

.profile{
    position: fixed;
    width: 72px;
    height: 72px;
    left: 26px;
    top: 46px;
    border-radius: 70%;
    background: #e0e0e0;
}

/* .arrow:after {
    content: '';
    display:inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.5rem;
    border-top: 0.1rem solid #333;
    border-right: 0.1rem solid #333;
    transform: rotate(45deg);
} */

ul {
    text-align: center;
    list-style:none;
    width:100%;
    padding-left: 35px;
    padding-right: 35px;
}
li {
    margin: 10px 0px;
    text-align: left;
    padding: 8px 15px 8px 15px;
}

li:hover{
    background-color:#eeeeee
}

.items{
    list-style:none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: flex;
}

.item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    padding: 8px 0px 8px 0px;

    color: #000000;
}