.fc-button {
  background-color: transparent;
  border: none !important;
  border-radius: 1rem !important;
  padding: 0.2rem !important;
  line-height: inherit !important;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  background-color: #ff8999 !important;
}

.fc-toolbar-title {
  font-size: 14px !important;
  color: #4b4b4b !important;
}

.fc-col-header-cell-cushion {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 15px !important;
}

.fc-timegrid-slot-label-frame {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 15px !important;
}
