.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    font-size: 14px;
    background: #dedede;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
}

nav {
    overflow: hidden;
}

nav > div {
    text-align: center;
    float: left;
    width: 33%;
    line-height: 15px;
}

a {
    white-space: pre-line;
    text-decoration: none;
    color: rgb(37, 37, 37);
}